<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obrigado!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'purple-dark': '#33005c',
                        'purple-medium': '#6424ad',
                        'purple-light': '#A884F3'
                    },
                    fontFamily: {
                        'montserrat': ['Montserrat', 'sans-serif'],
                        'lato': ['Lato', 'sans-serif']
                    }
                }
            }
        }
    </script>
</head>
<body class="font-lato bg-gradient-to-br from-purple-medium to-purple-dark min-h-screen">
    <div class="form-container">
        <h1 class="font-montserrat font-bold text-4xl lg:text-5xl mb-4">Obrigado!</h1>
        <p>Seu e-book está pronto para download. </p>
        <a href="https://drive.google.com/file/d/1ViF8kldk2kXQ0LMGikDL-jBhD4SqVZRH/view?usp=sharing" class="inline-block">
            <b>BAIXAR MEU E-BOOK</b>
        </a>
    </div>
</body>
</html>